<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>line01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,118},{144,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,58}}</string>
				<key>sourceSize</key>
				<string>{162,78}</string>
			</dict>

			<key>line02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{144,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{144,58}}</string>
				<key>sourceSize</key>
				<string>{161,78}</string>
			</dict>

			<key>line03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,177},{144,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,0},{144,58}}</string>
				<key>sourceSize</key>
				<string>{162,78}</string>
			</dict>

			<key>line04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,59},{144,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,0},{144,58}}</string>
				<key>sourceSize</key>
				<string>{161,78}</string>
			</dict>

			<key>line05.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,0},{144,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,0},{144,58}}</string>
				<key>sourceSize</key>
				<string>{162,78}</string>
			</dict>

			<key>line06.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,59},{144,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,5},{144,58}}</string>
				<key>sourceSize</key>
				<string>{162,78}</string>
			</dict>

			<key>line07.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,177},{144,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,5},{144,58}}</string>
				<key>sourceSize</key>
				<string>{161,78}</string>
			</dict>

			<key>line08.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,118},{144,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,5},{144,58}}</string>
				<key>sourceSize</key>
				<string>{162,78}</string>
			</dict>

			<key>line09.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,0},{144,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,5},{144,58}}</string>
				<key>sourceSize</key>
				<string>{161,78}</string>
			</dict>

			<key>line10.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,59},{141,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,5},{141,58}}</string>
				<key>sourceSize</key>
				<string>{162,78}</string>
			</dict>

			<key>line11.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,118},{141,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,10},{141,58}}</string>
				<key>sourceSize</key>
				<string>{162,78}</string>
			</dict>

			<key>line12.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,177},{141,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,10},{141,58}}</string>
				<key>sourceSize</key>
				<string>{161,78}</string>
			</dict>

			<key>line13.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,0},{141,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,10},{141,58}}</string>
				<key>sourceSize</key>
				<string>{162,78}</string>
			</dict>

			<key>line14.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,177},{141,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,10},{141,58}}</string>
				<key>sourceSize</key>
				<string>{161,78}</string>
			</dict>

			<key>line15.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,177},{141,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,10},{141,58}}</string>
				<key>sourceSize</key>
				<string>{162,78}</string>
			</dict>

			<key>line16.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,0},{141,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,15},{141,58}}</string>
				<key>sourceSize</key>
				<string>{162,78}</string>
			</dict>

			<key>line17.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,118},{141,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,15},{141,58}}</string>
				<key>sourceSize</key>
				<string>{161,78}</string>
			</dict>

			<key>line18.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,59},{141,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,15},{141,58}}</string>
				<key>sourceSize</key>
				<string>{162,78}</string>
			</dict>

			<key>line19.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,177},{141,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,15},{141,58}}</string>
				<key>sourceSize</key>
				<string>{161,78}</string>
			</dict>

			<key>line20.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,59},{143,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,15},{143,58}}</string>
				<key>sourceSize</key>
				<string>{162,78}</string>
			</dict>

			<key>line21.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,118},{143,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,20},{143,58}}</string>
				<key>sourceSize</key>
				<string>{162,78}</string>
			</dict>

			<key>line22.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,59},{143,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,20},{143,58}}</string>
				<key>sourceSize</key>
				<string>{161,78}</string>
			</dict>

			<key>line23.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,0},{143,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,20},{143,58}}</string>
				<key>sourceSize</key>
				<string>{162,78}</string>
			</dict>

			<key>line24.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,177},{143,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,20},{143,58}}</string>
				<key>sourceSize</key>
				<string>{161,78}</string>
			</dict>

			<key>line25.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,118},{143,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,20},{143,58}}</string>
				<key>sourceSize</key>
				<string>{162,78}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,256}</string>
			<key>textureFileName</key>
			<string>list_lines.png</string>
			</dict>
		</dict>
</plist>