<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>zeusline01.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,302},{152,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,75}}</string>
				<key>sourceSize</key>
				<string>{154,77}</string>
			</dict>

			<key>zeusline02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{154,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,75}}</string>
				<key>sourceSize</key>
				<string>{154,77}</string>
			</dict>

			<key>zeusline03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,834},{152,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{152,74}}</string>
				<key>sourceSize</key>
				<string>{154,77}</string>
			</dict>

			<key>zeusline04.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,604},{152,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{152,74}}</string>
				<key>sourceSize</key>
				<string>{154,77}</string>
			</dict>

			<key>zeusline05.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,679},{152,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{152,76}}</string>
				<key>sourceSize</key>
				<string>{154,77}</string>
			</dict>

			<key>zeusline06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,606},{152,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{152,75}}</string>
				<key>sourceSize</key>
				<string>{154,77}</string>
			</dict>

			<key>zeusline07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,909},{152,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{152,75}}</string>
				<key>sourceSize</key>
				<string>{154,77}</string>
			</dict>

			<key>zeusline08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,454},{152,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{152,75}}</string>
				<key>sourceSize</key>
				<string>{154,77}</string>
			</dict>

			<key>zeusline09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,530},{152,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{152,75}}</string>
				<key>sourceSize</key>
				<string>{154,77}</string>
			</dict>

			<key>zeusline10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,378},{152,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{152,75}}</string>
				<key>sourceSize</key>
				<string>{154,77}</string>
			</dict>

			<key>zeusline11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,302},{152,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{152,75}}</string>
				<key>sourceSize</key>
				<string>{154,76}</string>
			</dict>

			<key>zeusline12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,758},{152,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{152,75}}</string>
				<key>sourceSize</key>
				<string>{154,76}</string>
			</dict>

			<key>zeusline13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,682},{152,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{152,75}}</string>
				<key>sourceSize</key>
				<string>{154,76}</string>
			</dict>

			<key>zeusline14.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,152},{152,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{152,75}}</string>
				<key>sourceSize</key>
				<string>{154,76}</string>
			</dict>

			<key>zeusline15.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,0},{152,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{152,75}}</string>
				<key>sourceSize</key>
				<string>{154,76}</string>
			</dict>

			<key>zeusline16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,226},{153,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{153,75}}</string>
				<key>sourceSize</key>
				<string>{154,77}</string>
			</dict>

			<key>zeusline17.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,76},{152,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{152,75}}</string>
				<key>sourceSize</key>
				<string>{154,77}</string>
			</dict>

			<key>zeusline18.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,908},{152,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{152,75}}</string>
				<key>sourceSize</key>
				<string>{154,77}</string>
			</dict>

			<key>zeusline19.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,832},{152,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{152,75}}</string>
				<key>sourceSize</key>
				<string>{154,77}</string>
			</dict>

			<key>zeusline20.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,756},{152,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{152,75}}</string>
				<key>sourceSize</key>
				<string>{154,77}</string>
			</dict>

			<key>zeusline21.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,76},{153,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,3},{153,74}}</string>
				<key>sourceSize</key>
				<string>{154,77}</string>
			</dict>

			<key>zeusline22.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,151},{153,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,3},{153,74}}</string>
				<key>sourceSize</key>
				<string>{154,77}</string>
			</dict>

			<key>zeusline23.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,529},{152,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,3},{152,74}}</string>
				<key>sourceSize</key>
				<string>{154,77}</string>
			</dict>

			<key>zeusline24.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,454},{152,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{152,74}}</string>
				<key>sourceSize</key>
				<string>{154,77}</string>
			</dict>

			<key>zeusline25.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,378},{152,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{152,75}}</string>
				<key>sourceSize</key>
				<string>{154,77}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>list_lines.png</string>
			</dict>
		</dict>
</plist>