<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,435},{106,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{106,142}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,870},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,0},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>11.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,870},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>12.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,725},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>13.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,580},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>14.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,435},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>15.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,290},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>16.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,145},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>17.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,0},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>18.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,870},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>19.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,725},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,580},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>20.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,580},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>21.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,435},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>22.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,290},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>23.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,145},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>24.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,0},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>25.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,870},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>26.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,725},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>27.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,580},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>28.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,435},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>29.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,290},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,435},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>30.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,145},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>31.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,0},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>32.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,870},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>33.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,725},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>34.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,580},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>35.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,435},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>36.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,290},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>37.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,145},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>38.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,0},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>39.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,870},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,290},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>40.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,725},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>41.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,580},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>42.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,435},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>43.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,290},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>44.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,145},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>45.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>46.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,870},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>47.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,725},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>48.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,580},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>49.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,435},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,145},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>50.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,290},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>51.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,145},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>52.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,0},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,725},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,290},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,145},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>cards.png</string>
			</dict>
		</dict>
</plist>